@import "./var.scss";
@import './mixin.scss';
@import "./button.scss";
@import "./calendar.scss";

.se-flex-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.se-flex-column{
  display: flex;
  flex-direction: column;
  align-items: center;
}